<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of movies" [routerLink]="[item.id]" routerLinkActive="active">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path" />
      </ion-avatar>
      <ion-label>
        {{item.title}}
        <p>{{item.release_date | date:'y'}}</p>
      </ion-label>
      <ion-badge slot="end"> {{item.vote_average}} </ion-badge>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($any($event)) " threshold="100px" [disabled]="!hasMoreMovies">
    <ion-infinite-scroll-content
      loadingText="Loading page {{currentPage}}..."
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
